/* BOTONES */

.boton {
    padding: 12px 24px;
    font-size: 16px;
    color: $c-blanco;
    background-color: $bc-verde;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
  
    &:hover {
      box-shadow: 0 4px 8px $bc-negro;
    }
  }
  
@media (max-width: 768px) {
    .boton {
      font-size: 14px;
    }
  }

  .ver-mas-btn {
    background-color: $bc-verde;
    color: $c-blanco;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: $bc-olivo;
        color: $bc-negro;
    }
}

@media (max-width: 768px) {
    .card {
    flex-basis: calc(50% - 20px);
    }
}
    
@media (max-width: 480px) {
    .card {
    flex-basis: 100%;
    }
}