/* BOTONES */

.boton {
    padding: 12px 24px;
    font-size: 16px;
    color: $c-blanco;
    background-color: $bc-verde;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
  
    &:hover {
      box-shadow: 0 4px 8px $bc-negro;
    }
  }
  
@media (max-width: 768px) {
    .boton {
      font-size: 0.5rem;
    }
  }

  
.boton-seguirbuscando {
  padding: 12px 24px;
  margin: 40px 200px;
  font-size: 16px;
  color: $c-blanco;
  background-color: $bc-verde;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  animation: latido 1.5s infinite;
}

@keyframes latido {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px $bc-blanco;
  }
  25% {
    transform: scale(1.2);
    box-shadow: 0 0 20px $bc-blanco;
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 10px $bc-blanco;
  }
  75% {
    transform: scale(1.2);
    box-shadow: 0 0 20px $bc-blanco;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(105, 148, 27, 0.7);
  }
}