// Cabezal y Selección de fechas

main {
    margin-top: 112px;
}

.box-booking {
    background-image: url(../../images/presentacion.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.form-booking {
    padding: 20px;
    background-color: rgba($color: $bc-blanco, $alpha: 0.3);
    border-radius: 10px;
}

.form__inputs {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    label {
        min-width: 100px;
        margin-right: 10px;
        color: $c-blanco;
        text-shadow: 0 0 3px $bc-negro;
    }

}

.form-booking-box-btn {
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 800px) {
    .box-booking {
        flex-direction: column;

        h1 {
            text-align: center;
        }
    }

    .form__inputs {
        font-size: 0.8rem;
    }

    input {
        width: calc(50% - 10px);
        margin-right: 5px;
    }
}

// IMAGEN ANIMADA
.animacion-imagen {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    animation: moveRight 5s linear infinite;
}

@keyframes moveRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100vw);
    }
}