// Info Quienes Somos
.seccion {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.quienessomos {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;

    &__imagen {
        flex: 1;
        margin-right: 40px;
        margin-left: 40px;
        overflow: hidden;
    }

    &__imagen img {
        max-width: 100%;
        height: auto;
        display: block;
        transition: 0.5s ease;
        
    }

    &__imagen:hover img {
        transform: scale(1.2);
    }

    &__contenido {
        flex: 1;
        text-align: justify;
    }

    &__contenido h2 {
        font-size: 32px;
        margin-bottom: 15px;
        text-align: center;
        color: #333;
    }

    &__contenido p {
        font-size: 16px;
        line-height: 1.5;
        color: #666;
    }
}

@media screen and (max-width: 768px) {
    .seccion {
        padding: 0px;
    }

    .quienessomos {
        padding: 20px;
        flex-direction: column;
    }

    .quienessomos__imagen {
        margin-right: 0px;
        margin-bottom: 20px;

    }

    .quienessomos__contenido {
        padding: 0px;
    }

    .quienessomos__contenido h2 {
        font-size: 16px;
    }

    .quienessomos__contenido p {
        font-size: 12px;
    }
}