/* QUIENES SOMOS */
.boxinfo {
    display: flex;
    font-size: 1.5rem;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
    max-width: 1300px;
    margin: 0 auto;
    
}

img.responsive-image {
    width: 30%;
    transition: all 0.7s ease;
}

img.responsive-image:hover {
    transform: scale(1.1) rotate(5deg);
}

@media screen and (max-width: 768px) {
    .boxinfo {
    flex-direction: column;
    align-items: center;
    }
}
