/* CAJAS SERVICIOS */
/* contenedor */
.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;

    &__box {
        width: 45%;
        padding: 20px;
        border: 1px solid $bc-negro;
        background-color: rgba(255, 255, 255, 0.388);
        text-align: justify;
        overflow: scroll;
        transition: all 0.3s ease;  
    }
    
    &__box:hover {
        transform: scale(1.05);
    }

}

@media (max-width: 768px) {
  .servicios {
  flex-basis: calc(50% - 20px);
  font-size: 0.5rem;
  
}
  }
  
@media (max-width: 480px) {
  .servicios {
    flex-basis: calc(50% - 20px);
    font-size: 0.5rem;
    margin: 5px;
  }
}

.animacion-imagen {
    width: 100px;
    height: 100px;
    animation: moveRight 5s linear infinite;
  }
  
  @keyframes moveRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100vw);
    }
  }



